# Logs & temp files
**/logs/
**/*.log
**/*.tmp
**/*.swp
**/*.DS_Store

# Build artifacts
**/bin/
*.test
**.exe
**.out
coverage.out
*.coverprofile

# IDE
.vscode/
.idea/
**/.vscode/
**/.idea/

# Dependencies
**/vendor/
**/node_modules/

# Configs
**/.env
**/.env.*
**/config/.env
**/config/.env.local
**/config/.env.prod
**/config/.env.dev

# Ignore database files
**/data/
**/storage/
**/db/

# Ignore temporary files
**/temp/

# Integration tests
.auth/internal/test/**

# Linter cache
.golangci-lint.cache
**/.golangci-lint.cache